@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.eot');
	src: url('fonts/glyphicons-halflings-regular.eot') format('eot')
		url('fonts/glyphicons-halflings-regular.woff2') format('woff'),
		url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('fonts/glyphicons-halflings-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-image: url("img/bg_1.jpg");
	background-size: cover;
	margin: 0;
	width: 100%;
}

.navbar {
	width: 100%;
	padding-left: 12%;
	margin-top: 1em;
	padding-right: 12%;
	display: flex;
	color: #0d5898;
	font-size: 14px;
	font-family: 'Glyphicons-Halflings', sans-serif;
	margin-bottom: 20px;
}

span {
	margin-right: 0.5em;
	align-content: center;
}

.logo {
	margin-right: 10%;
}
.logo img {
	height: 45px;
}

.text-box {
	text-align: right;
	width: 32%;
}

.money {
	background-color: #95c11f;
	font-size: 30px;
	font-weight: 600;
	height: 45px;
	width: auto;
	text-align: center;
	border-radius: 5px;
	border: none;
	padding-top: -5px;
	padding-left: 8px;
	padding-right: 8px;
}

.ico {
	font-size: 24px;
	top: 10px;
}

.money, .ico, .login {
	color: black;
}

button.login {
	width: 120px;
	height: 45px;
	background-color: #0d5898;
	color: white;
	font-size: 24px;
	text-align: center;
	border-radius: 5px;
	border: none;
	vertical-align: center;
	margin-left: 2%;
	margin-right: 0;
}

.form {
	max-width: 700px;
	background-color: #0d5898;
	font-family: 'Glyphicons Halflings', sans-serif;
	font-size: 14px;
	color: white;
	margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate( 0, 0);
}

.form img {
	margin-left: -10px;
	margin-top: -10px;
}

.video {
	max-width: 640px;
	height: 360px;
	background-color: #2a455d;
	margin: auto;
	margin-top: -15px;
}

.form p {
	text-align: center;
	font-size: 26px;
	margin-top: 20px;
	margin-left: 4em;
	margin-right: 4em;
}

.wrap {
	margin-left: 50px; 
	margin-right: 50px;
	text-align: left;
}

.wrap p {
	text-align: left;
	font-size: 14px;
	margin-left: 0;
}

@media (min-device-width: 700px) {
	.wrap {
		display: block;
		text-align: center;
	}
}

.box1 {
	float: left;
}

.box2 {
	float: right;
}

input {
	width: 280px;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding-left: 1em;
	color: black;
	font-size: 18px;
}


.form button {
	max-width: 310px;
	height: 65px;
	background-color: #95c11f;
	border-radius: 5px;
	border: none;
	margin-top: 4em;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;

}


.form button h2 {
	margin-top: 8px;
	font-size: 20px;
}

ul.nav {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 2em;
	margin-bottom: -1em;
	font-size: 16px;
}

.nav li {
	display: inline-block;
	text-decoration: underline;
}

.nav li:nth-child(1), .nav li:nth-child(2) {
	margin-right: 25%;
}

.content {
	text-align: justify;
	opacity: 0.5;
}

.content a {
	font-weight: 600;
	text-decoration: underline;
}

footer {
	margin-top: 2em;
}

footer p {
	margin-left: 0;
	float: left;
	opacity: 0.5;
}

footer a {
	margin-right: 0;
	float: right;
	font-weight: 600;
	text-decoration: underline;
}

.modal-dialog {
	font-family: 'Glyphicons Halflings', sans-serif;
	margin-left: auto;
    margin-right: auto;
    top: 3.9em;
    left: 5.55%;
}

.modal-content {
	max-width: 700px;
	height: 490px;
	border-radius: 0;
	font-size: 14px;

}

.modal-content img {
	margin-top: -28em;
	margin-left: 23em;
	max-width: 515px;
	height: auto;


}

.modal-header {
	height: 270px;
    padding-left: 30px;
/*    padding-top: 15px;*/
}

.modal-header h1 {
	color: #ed1c24;
	font-size: 42px;
	margin-top: 0;
	font-weight: 600;
}

.modal-header h2 {
	font-size: 20px;
}

span.left {
	float: left;
	width: 60%;
}

button.close {
	float: right;
	color: #ed1c24;
	margin-right: 15px;
	margin-top: 0;
}

.glyphicon-remove {
	position: absolute;
	top: 15px;	
}


.modal-footer {
	height: 220px;
	background-color: #0d5898;
	text-align: left;
	padding-left: 30px;
}

.modal-footer p {
	color: white;
	font-size: 14px;
}

.modal-footer button {
	width: 280px;
	height: 50px;
	background-color: #ed1c24;
	color: white;
	border: none;
	margin-top: 20px; 
}